@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.fixed-page-header {
  height: 90px;
}

.screen-height-without-header {
  height: calc(100vh - 90px);
}

@media (min-width: 768px) {
  .apply-header-height-as-bottom-padding {
    padding-bottom: 90px;
  }
}

.fixed-page-content {
  padding-top: 90px;
}

body {
  @apply font-body;
}
